extends layout

block content
  h1= title
  
  
  table.table.table-striped
    thead
      tr  
        th Entity Id
        th Entity Name
        th # Events

      tbody
        each entity in entityList
          tr
            td=entity.entityId
            td=entity.entityName
            td=entity.events.length
